.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
GradleBuildProperties.iml
gradlebuildProperties.iws
gradlebuildproperties.iws
testPull/
testDev/
testDep/
test/version.h
test/build.sh
testConsume/version.h
testConsume/build.h
testConsume/apptest

*.o
*.a
